<footer class="footer bg-light text-dark mt-4">
    <div class="container">
        <div class="row footer_row mt-4">
            <div class="col-md-3">
                <a class="navbar-brand" href="#">
                    <img src="./assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Gymnasium
                </a>
                <p class="mt-4">Education is the most important thing that a parent may provide to his child. That
                    is why
                    choosing a perfect elementary school is so critical!</p>
            </div>
            <div class="col-md-3">
                <h4>Example</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nihil unde eos aperiam tempore
                    corrupti eum animi, culpa commodi optio dolorum fugiat reprehenderit similique dicta illum quos?
                    Illo, quaerat in.</p>

            </div>
            <div class="col-md-3">
                <h4>Контакты</h4>
                <p>101000, Республика Казахстан. Карагандинская область,
                    Осакаровский район поселок Осакаровка, улица Достык 7</p>
                <p><a href="tel:+87214941379"><span class="fas fa-phone-alt"></span> +8 72149
                        4 13
                        79</a>
                </p>
                <p><a href="mailto:osak-gim9@mail.ru"><span class="fas fa-envelope"></span>
                        osak-gim9@mail.ru</a>
                </p>
                <p>
                    <a href="#"><span class="fab fa-facebook-square"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-odnoklassniki-square"></span></a>
                </p>

            </div>
            <div class="col-md-3">
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint in ipsa voluptates molestias autem
                    minus suscipit dolorum ullam eum? Adipisci est illum doloribus neque, similique soluta eius
                    autem sunt. Amet.</p>
            </div>
        </div>
        <div class="row copyrite pt-2"">
                <p>© 2019 КГУ Опорная школа (ресурсный центр) на базе гимназии №9 п. Осакаровка</p>
            </div>
        </div>
</footer>

<script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
                </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
                </script>